body {
	background-color:#0B3A2A;
	font-size:80%;
	margin:0;
	color:#271F1C;
}
div.headfoot {
	background-color:#AB8262;
	text-align:center;
	font-family:arial;
	margin:auto;
	color:#271F1C;
}
div#header {
	font-size:500%;
}
div#footer {
	position:relative;
	top:8px;
	height:30px;
	vertical-align:bottom;
}
div#pagewrapper {
	position:relative;
	top:8px;
	width:70%;
	margin:auto;
	margin-bottom:1%;
	font-family:arial;
	text-align:center;
	background-color:#271F1C;
	padding:0.25%;
	min-width:300px;
}
div.client {
	padding:1.5%;
	background-color:#AA5955;
	margin:1%;
	margin-bottom:1.5%;
}
div.name {
	background-color:#AB8262;
	border: #271F1C solid 5px;
	border-radius:100px;
}
span.position {
	text-transform:capitalize;
}
caption {
	font-weight:bold;
	font-size:200%;
}
table {
	margin:auto;
	margin-bottom:2%;
	text-align:left;
	width:70%;
	background-color:#271F1C;
	padding:0.5%;
	position:relative;
	top:10px;
}
th {
	text-align:center;
	font-size:175%;
	padding:0.25%;
	background-color:#AB8262;
}
th span {
	color:#271F1C;
}
td {
	padding-left:1.25%;
	background-color:#D5BA9F;
}
td p {
	line-height:90%;
}
span.contacttype {
	text-transform:capitalize;
}
span#foottext {
	position:relative;
	top:25%;
}